// extends layout

// block content
//   h3 Welcome to roots!
//   :markdown
//     Find tutorials and documentation at http://roots.cx : )

<iframe width="500" height="300" scrolling="no" frameborder="no" src="https://www.google.com/fusiontables/embedviz?containerId=googft-gviz-canvas&amp;viz=GVIZ&amp;t=GRAPH&amp;gc=false&amp;gd=false&amp;sdb=1&amp;rmax=100000&amp;q=select+col19%2C+col20%2C+col16+from+1PfhDn-Ccy_mYvxDcasRFwoCqoUHd1RimDB9jh9fi+where+col19+in+(&#39;&#39;%2C+&#39;careers&#39;%2C+&#39;automotive+and+vehicles&#39;%2C+&#39;business+and+industrial&#39;%2C+&#39;art+and+entertainment&#39;%2C+&#39;travel&#39;)&amp;qrs=+and+col19+%3E%3D+&amp;qre=+and+col19+%3C%3D+&amp;qe=&amp;uiversion=2&amp;state=%7B%22ps%22%3A%221_0_2j_-o_3_-2v_d_4_-3t_f_2_1k_-x_1_2k_c_6_3f_-j_b_31_-1c_7_-g_-t_f_29_-1h_d_2n_-1l_e_3f_-12_x_39_0_j_o_-f_8_-18_-1i_k_-1p_1v_5_3j_-1l_p_-1j_-1w_o_46_-g_g_-3n_1w_l_-33_2p_i_-6_z_a_49_-1b_m_-37_26_n_-11_2n_16_-t_q_c_-t_-2y_t_-2d_-1y_10_-1m_28_11_-1u_-30_z_4w_u_w_-56_-1c_h_-n_23_v_-35_-27_1h_-2x_-2w_1g_-53_2g_1d_-3i_-2h_r_-t_-2g_1i_-51_2u_q_-39_34_1f_-4c_31_s_-1d_-2t_u_-d_2u_15_-56_1v_19_4_27_1b_-5n_2g_1l_-j_1k_12_-4o_2n_14_-r_31_1e_2_2q_13_-2m_2q_1s_-3n_-26_1p_-1c_33_1a_-1n_2t_1x_-2n_-35_1t_-3v_34_9_-5x_20_1q_-4u_25_1c_-3b_-2s_1j_-1o_-2e_17_-26_2p_y_-22_34_1k_-36_-1t_18_-21_2c_20_-3r_-1v_1o_-3n_2r_1r_-3v_-1i_1z_-4u_35_1m_-2a_-2f_21_-2b_-2v_1w_-2o_35_1y_-2x_-2j_1u_-23_-1i_1v_m_2t_1n_-47_2l_%22%2C%22cx%22%3A0%2C%22cy%22%3A0%2C%22sw%22%3A429.39270044085646%2C%22sh%22%3A368.7929241689614%2C%22z%22%3A0%7D&amp;gco_forceIFrame=true&amp;gco_hasLabelsColumn=true&amp;width=500&amp;height=300"></iframe>
